@*@Styles.Render("~/Content/commonStyles")*@

<div class="map-In-Circles">
    <div class="travel-Icons" onclick="rotateCircles('item-In-Circle')">
        <div class="travel-Icons-Item">
            <div class="item-In-Circle arrows">
                <i class="fas fa-exchange-alt"></i>
            </div>
        </div>
        <div class="travel-Icons-Item">
            <div class="laptop-Wrapper">
                <div class="item-In-Circle laptop">
                    <i class="fas fa-laptop"></i>
                </div>
            </div>
            <div class="item-In-Circle suitecase">
                <i class="fas fa-suitcase-rolling"></i>
            </div>
        </div>
        <div class="travel-Icons-Item">
            <div class="item-In-Circle camera">
                <i class="fas fa-camera"></i>
            </div>
            <div class="item-In-Circle train">
                <i class="fas fa-train"></i>
            </div>
        </div>
    </div>
    <div class="blue-Circle">
        <div class="red-Circle">
            <img src="@Url.Content("~/Content/Images/PolandMapGrey.png")">
        </div>
    </div>
</div>
