<header class="common-Header">
    <div class="rotated-Square-Wrapper">
        <div class="rotated-Square"></div>
    </div>
    <div class="gb-Flag-And-Text">
        <img src="@Url.Content("~/Content/Images/britishFlag.png")">
        <span class="common-Header-Text">VisitBritain<span class="registeredSymbolFont">&trade;</span></span>
    </div>
    <div>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="polish-Flag-And-Text-Wrapper">
        <div class="polish-Flag-And-Text">
            <div class="market-And-Trade-Profile-Wrapper" id="market-And-Trade-Responsive">
                <p class="common-Header-Text-Thiner">Market and Trade Profile Poland</p>
            </div>
            <img src="@Url.Content("~/Content/Images/polandFlag.png")" onclick="expandHeader()">
        </div>
    </div>
</header>
