@model Lab3.ViewModels.SlideAndSlideWithListsViewModel

<nav class="links-To-Nearest-Pages">
    @try
    {
        if (Model.PageWithList == null)
        {
            foreach (var link in Model.Slide.Links)
            {
                <a href="/@link.ControllerName/@link.ActionName">
                    <p>@link.LinkText</p>
                </a>
            }
        }
        else
        {
            foreach (var link in Model.PageWithList.Slide.Links)
            {
                <a href="/@link.ControllerName/@link.ActionName">
                    <p>@link.LinkText</p>
                </a>
            }
        }

    }
    catch
    {
        <span>An error occured when displaying navbar</span>
    }
</nav>