@model Lab3.ViewModels.SlideAndSlideWithListsViewModel

@{  
    if(Model.Slide!=null)
    {
        ViewBag.Title = Model.Slide.Name;
    }
    else
    {
        ViewBag.Title = Model.PageWithList.Slide.Name;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    string classNameOfDiv;
    string classNameOfSpan;
    string name;
    if(Model.Slide!=null && Model.Slide.Number==3)
    {
        classNameOfDiv = "slide-Block content-Slide";
        classNameOfSpan = "slide-Title slide-Title-Content";
        name = Model.Slide.Name;
    }
    else
    {
        classNameOfDiv = "slide-Block";
        classNameOfSpan = "slide-Title";
        name = Model.PageWithList.Slide.Name;
    }
}

<div class="@classNameOfDiv">
    <span class="@classNameOfSpan">@name</span>
    @RenderBody()
</div>
