
@{
    ViewBag.Title = "_TopicItemsAndDiagram";
    Layout = "~/Views/Shared/_Slide.cshtml";
}

<div class="topic-Items-And-Diagram">
    @*<div class="topic-Items">
            <span class="topic-Item-Font">
                Key insights
            </span>
        </div>*@
    @RenderBody()
    @*<div class="diagram-Spend-Pounds">
            <div class="red-Dashed-Circle">
                <div class="blue-Solid-Circle">
                    <p class="diagram-Font-Big">
                        2016: &pound;389m spend in UK
                    </p>
                </div>
            </div>
        </div>*@
</div>