
@{
    ViewBag.Title = "Chapter1";
    Layout = "~/Views/Shared/_TopicItemsAndDiagram.cshtml";
}

@Styles.Render("~/Content/inboundMarketStat")
<div class="topic-Items">
    <span class="topic-Item-Font">
        Chapter summary
    </span>
    <ul class="chapter-Summary">
        <li>
            <p>
                The Polish outbound market is forecasted to account for 19.9
                million trips abroad with at least one overnight stay by 2020.
                The UK was the most popular destination, ahead of Italy, for
                such trips in 2016.
            </p>
        </li>
        <li>
            <p>
                The Polish rank globally in 35<span class="nth-Font">th</span>place for international tourism
                expenditure with US$8bn.
            </p>
        </li>
        <li>
            <p>
                Poland was the 8<span class="nth-Font">th</span>largest inbound source market for the UK
                for volume and 16<span class="nth-Font">th</span>most valuable for visitor spending in 2016.
            </p>
        </li>
        <li>
            <p>
                Visits from Poland to the UK overall set a new record with
                1.9 million in 2016.
            </p>
        </li>
        <li>
            <p>
                The Polish source market has a excellent seasonal spread
                with October-December and January-March being the
                strongest quarters for volume of visits.
            </p>
        </li>
        <li>
            <p>
                90% of departing Polish visitors are either ‘Very’ or ‘Extremely’
                likely to recommend Britain for a holiday or short-break.
            </p>
        </li>
    </ul>
    <span class="source-Font">
        Source: International Passenger Survey by ONS, Oxford Economics (overnight trips), UNWTO, CAA 2016 (asked to leisure visitors)
    </span>
</div>
<div class="diagram-Spend-Pounds">
    <div class="red-Dashed-Circle">
        <div class="blue-Solid-Circle">
            <p class="diagram-Font-Big">
                2016: &pound;389m spend in UK
            </p>
        </div>
    </div>
</div>

