@model Lab3.ViewModels.SlideAndSlideWithListsViewModel
@{
    ViewBag.Title = Model.Slide.Name;
    Layout = "~/Views/Shared/_Chapter.cshtml";
}

<span class="chapter-Start-Number-Font">@Model.Slide.Name: </span>
<br>
Inbound market
<br>
statistics

