@model Lab3.Models.Slide
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Chapter.cshtml";
}

<span class="chapter-Start-Number-Font">@Model.Name: </span>
<br>
Inbound market
<br>
statistics

