@model Lab3.ViewModels.SlideAndSlideWithListsViewModel
@{
    ViewBag.Title = "KeyInsights1";
    Layout = "~/Views/Shared/_TopicItemsAndDiagram.cshtml";
}

@Styles.Render("~/Content/keyInsights1")
<div class="topic-Items">
    <span class="topic-Item-Font">
        Key insights
    </span>
    <ul class="key-Insights">

        @foreach (var listItem in Model.PageWithList.ListItems)
        {
            <li>
                <p>
                    @Html.Raw(listItem)
                </p>
            </li>
        }       
    </ul>
    <span class="source-Font">
        Source: International Passenger Survey by ONS, Oxford Economics (overnight trips)
    </span>
</div>
<div class="diagram-Spend-Pounds">
    <div class="red-Dashed-Circle">
        <div class="blue-Solid-Circle">
            <div class="diagram-Font-Smaller-Wrapper">
                <p class="diagram-Font-Smaller chapter1_1-Diagram">
                    The UK is the most visited destination for Polish outbound overnight trips (2016)
                </p>
            </div>
        </div>
    </div>
</div>

