
@{
    ViewBag.Title = "KeyInsights1";
    Layout = "~/Views/Shared/_TopicItemsAndDiagram.cshtml";
}

@Styles.Render("~/Content/keyInsights1")
<div class="topic-Items">
    <span class="topic-Item-Font">
        Key insights
    </span>
    <ul class="key-Insights">
        <li>
            <p>
                Poland is Britain’s 8<span class="nth-Font">th</span> largest source market in terms of visits
                and 16<span class="nth-Font">th</span> most valuable for visitor spending (2016). Visits from
                Poland to the UK overall grew to a record 1.9 million in 2016.
            </p>
        </li>
        <li>
            <p>
                41% of spending came courtesy of those visiting family
                and/or friends in the UK, 26% from business visits and 17%
                from holiday visits in 2016.
            </p>
        </li>
        <li>
            <p>
                Polish business visits and those visiting friends and/or family
                in the UK have led growth in recent years and set new
                records in 2016 with 872,000 and 760,000 visits respectively.
            </p>
        </li>
        <li>
            <p>
                London is the leading destination for a trip to Britain but
                South East, West Midlands and North West are also popular
                (based on the average nights spent in the UK 2014-2016).
            </p>
        </li>
        <li>
            <p>
                The most popular activities undertaken by Polish travellers in
                Britain include shopping, dining in restaurants and going to
                the pub as well as socialising with the locals and sightseeing
                famous monuments/buildings.
            </p>
        </li>
    </ul>
    <span class="source-Font">
        Source: International Passenger Survey by ONS, Oxford Economics (overnight trips)
    </span>
</div>
<div class="diagram-Spend-Pounds">
    <div class="red-Dashed-Circle">
        <div class="blue-Solid-Circle">
            <div class="diagram-Font-Smaller-Wrapper">
                <p class="diagram-Font-Smaller chapter1_1-Diagram">
                    The UK is the most visited destination for Polish outbound overnight trips (2016)
                </p>
            </div>
        </div>
    </div>
</div>

