
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Slide.cshtml";
}
@Styles.Render("~/Content/content")
    <div class="chapters-And-Circles">
        <ol class="chapter-Counter">
            <div class="chapters-Grid">
                <div>
                    <p>
                        <a href="chapter1Start.html">
                            <span class="chapters-Number-Font">Chapter 1: </span>
                        </a>
                        <br>
                        <a href="chapter1.html">
                            <span class="chapters-Name-Font">Inbound market statistics</span>
                        </a>
                    </p>
                    <li class="chapter-Number">
                        <ol>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="chapter1_1.html">
                                        <span class="chapter-Link-Font">Key statistics</span>
                                    </a>
                                    <div>
                                        <span>6</span>
                                    </div>
                                </div>

                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Visitor demographics</span>
                                    </a>
                                    <div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Britain & competitors</span>
                                    </a>
                                    <div>
                                        <span>21</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Inbound activities</span>
                                    </a>
                                    <div>
                                        <span>23</span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                </div>
                <div>
                    <p>
                        <a href="chapter2Start.html">
                            <span class="chapters-Number-Font">Chapter 2: </span>
                        </a>
                        <br>
                        <span class="chapters-Name-Font">Understanding the market</span>
                    </p>
                    <li class="chapter-Number">
                        <ol>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Structural drivers</span>
                                    </a>
                                    <div>
                                        <span>31</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Consumer trends</span>
                                    </a>
                                    <div>
                                        <span>34</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Booking and planning</span>
                                    </a>
                                    <div>
                                        <span>38</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Reaching the consumer</span>
                                    </a>
                                    <div>
                                        <span>40</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Perceptions of Britain</span>
                                    </a>
                                    <div>
                                        <span>43</span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                </div>
                <div>
                    <p>
                        <a href="chapter3Start.html">
                            <span class="chapters-Number-Font">Chapter 3: </span>
                        </a>
                        <br>
                        <span class="chapters-Name-Font">Access and travel trade</span>
                    </p>
                    <li class="chapter-Number">
                        <ol>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Access</span>
                                    </a>
                                    <div>
                                        <span>48</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Travel Trade</span>
                                    </a>
                                    <div>
                                        <span>52</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Caring for the consumer</span>
                                    </a>
                                    <div>
                                        <span>58</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Working with VisitBritain</span>
                                    </a>
                                    <div>
                                        <span>61</span>
                                    </div>
                                </div>
                            </li>
                            <li class="subchapter-Number">
                                <div class="link-And-Page">
                                    <a href="#">
                                        <span class="chapter-Link-Font">Useful research resources</span>
                                    </a>
                                    <div>
                                        <span>62</span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                </div>
            </div>
        </ol>
        @Html.Partial("_Circles");
    </div>