@model Lab3.ViewModels.SlideAndSlideWithListsViewModel
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Slide.cshtml";
}
@Styles.Render("~/Content/overview")
    <ul class="overview-Items">
        @foreach (var listItem in Model.PageWithList.ListItems)
         {
            <li>
                <p class="slide-Main-Font">
                    @Html.Raw(listItem)
                </p>
            </li>
         }
    </ul>
